<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!-- <add name="DB" providerName="LUNA" connectionString="Data Source=DESKTOP-5OKRJIQ\SQLEXPRESS;Initial Catalog=Trabajo Practico;Integrated Security=True"/> -->
    <!-- <add name="DB" providerName="BLANCO" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\LioBlanco\Desktop\Proyecto-v3.5.1\ProyectoIntegrador\Base de Datos\TrabajoPractico.mdf;Integrated Security=True;Connect Timeout=30"/> -->
    <add name="DB" providerName="BLANCO" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Lisandro\Desktop\Trabajos\Proyecto-v3.5.2\Base de Datos\TrabajoPractico.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="Inicio.aspx" loginUrl="Login.aspx" />
    </authentication>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authorization>
      <deny users="?"/>
    </authorization>

  </system.web>

  <location path="Inicio.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>


  <location path="js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Productos.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores"/>
        <deny roles="clientes"/>
      </authorization>
    </system.web>
  </location>

  <location path="Insumos.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores"/>
        <deny roles="clientes"/>
      </authorization>
    </system.web>
  </location>

  <location path="Proveedores.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores"/>
        <deny roles="clientes"/>
      </authorization>
    </system.web>
  </location>

  <location path="CompraProducto.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores,clientes"/>
        
      </authorization>
    </system.web>
  </location>
  
  <location path="Compra.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores"/>
        <deny roles="clientes"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Produccion.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores"/>
        <deny roles="clientes"/>
      </authorization>
    </system.web>
  </location>

  <location path="ReporteCompraProductos.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores,clientes"/>
        
      </authorization>
    </system.web>
  </location>

  <location path="ReporteCompras.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores"/>
        <deny roles="clientes"/>
      </authorization>
    </system.web>
  </location>

  <location path="ReporteProducciones.aspx">
    <system.web>
      <authorization>
        <allow roles="administradores"/>
        <deny roles="clientes"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
